@import "../../../../../styles/style_config";

.profile_content_container {
  .connection_row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px 4px 5px 15px;
    width: 100%;
    height: 50px;
    border: 1px solid $border_color;
    border-radius: 4px;
    position: relative;

    &.error {
      justify-content: center;

      .error_description {
        color: $confirm_red;
      }
    }

    .connection_name {
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 200px;
      max-width: 200px;
      overflow: hidden;
    }

    .connection_id_input {
      width: 260px;
      height: 34px;
      font-size: 16px;
      font-family: cursive;
      color: $text_color;
      text-align: center;

      @media (max-width: 450px) {
        width: 192px;


        font-size: 12px;
      }

      @media (max-width: 390px) {
        width: 160px;
        font-size: 10px;
      }
    }

    i.close_button, i.confirm_connection_button {
      padding: 10px;
      border: 1px dotted $border_color;
      border-radius: 4px;
      cursor: pointer;
    }

    i.close_button:hover {
       color: $confirm_red;
       border-color: $confirm_red;
     }

    i.confirm_connection_button:hover {
      color: $confirm_green;
      border-color: $confirm_green;
    }

    .add_connection_button {
      @include default_button($border_color, $default_grey, $default_grey);
    }

    &.add_connection_wrapper {
      justify-content: center;
    }

    @media (max-width: 680px) {
      flex-direction: column;
      align-items: flex-start;
      height: 70px;

      &.add_connection_wrapper {
        align-items: center;
      }

      .connection_name, .connection_id {
        width: 265px;
        max-width: 265px;
        padding: 5px 0;
      }

      i.fa {
        position: absolute;
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 22px;
        padding: 14px;
      }
    }

    @media (max-width: 450px) {
      .connection_name, .connection_id {
        width: 200px;
        max-width: 200px;
      }

      .connection_id {
        font-size: 12px;
      }
    }

    @media (max-width: 390px) {
      .connection_name, .connection_id {
        width: 170px;
        max-width: 170px;
      }

      .connection_id {
        font-size: 10px;
      }
    }
  }
}
